In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#!pip install pycaret
from pycaret.classification import *
#from pycaret.regression import *

# Importing the data - only use *.MLReady.csv files!!!

In [26]:
df=pd.read_csv("D:\FM_Acq_Perf_FMAC_EPOCH2_ML.csv")
df.head()

,Unnamed: 0,Unnamed: 0.1,id,origChannel,origIntRate,origUPB,origDate,firstPmtDate,origLTV,numBorrowers,...,fmacRateMin,fmacRateAvg,fmacRateVolatility,fredRate,rateDiffAbove,rateDiffBelow,rateDiffAvg,rateDiffAbovePct,rateDiffBelowPct,rateDiffAvgPct
0,1133339,1133339,100209956357,2,5.125,348000,2009-02-01,2009-04-01,87.0,1.0,...,5.04,5.13,0.041667,2.87,-0.125,-0.085,-0.005,-0.023810,-0.016865,-0.000975
1,1133340,1133340,100392775700,3,4.625,195000,2009-02-01,2009-04-01,52.0,2.0,...,5.04,5.13,0.041667,2.87,-0.625,0.415,-0.505,-0.119048,0.082341,-0.098441
2,1133341,1133341,100621428854,2,4.875,342000,2009-02-01,2009-04-01,80.0,1.0,...,5.04,5.13,0.041667,2.87,-0.375,0.165,-0.255,-0.071429,0.032738,-0.049708
3,1133342,1133342,100720959726,1,5.375,93000,2009-02-01,2009-05-01,70.0,1.0,...,5.04,5.13,0.041667,2.87,0.125,-0.335,0.245,0.023810,-0.066468,0.047758
4,1133343,1133343,100783704799,1,4.875,182000,2009-02-01,2009-04-01,76.0,2.0,...,5.04,5.13,0.041667,2.87,-0.375,0.165,-0.255,-0.071429,0.032738,-0.049708

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119696 entries, 0 to 119695
Data columns (total 60 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Unnamed: 0                  119696 non-null  int64
 1   Unnamed: 0.1                119696 non-null  int64
 2   id                          119696 non-null  int64
 3   origChannel                 119696 non-null  int64
 4   origIntRate                 119696 non-null  float64
 5   origUPB                     119696 non-null  int64
 6   origDate                    119696 non-null  object
 7   firstPmtDate                119696 non-null  object
 8   origLTV                     119696 non-null  float64
 9   numBorrowers                119696 non-null  float64
 10  origDebtIncRatio            119696 non-null  float64
 11  borrCreditScore             119696 non-null  float64
 12  loanPurp                    119696 non-null  int64
 13  zipCode                     119696 non-null  int64
 14  pMIperct                    119696 non-null  float64
 15  mortInsType                 119696 non-null  float64
 16  bestCreditScore             119696 non-null  float64
 17  worstCreditScore            119696 non-null  float64
 18  avgCreditScore              119696 non-null  float64
 19  bankNumber                  119696 non-null  int64
 20  stateNumber                 119696 non-null  int64
 21  rptPeriod                   119696 non-null  object
 22  currIntRate                 119696 non-null  float64
 23  currUPB                     119688 non-null  float64
 24  loanAge                     119696 non-null  int64
 25  monMatur                    119696 non-null  float64
 26  mSA                         119696 non-null  int64
 27  zeroBalCode                 119696 non-null  float64
 28  zeroBalDate                 119696 non-null  object
 29  lastPdInstDate              14004 non-null   object
 30  forecloDate                 12695 non-null   object
 31  dispDate                    13162 non-null   object
 32  forecloCost                 13063 non-null   float64
 33  propRepCost                 9985 non-null    float64
 34  recovCosts                  6571 non-null    float64
 35  miscCost                    11487 non-null   float64
 36  holdTaxCost                 11086 non-null   float64
 37  saleProceed                 12944 non-null   float64
 38  credEnhProceed              1990 non-null    float64
 39  repurchProceed              707 non-null     float64
 40  otherForecloProceed         6709 non-null    float64
 41  nonIntUPB                   1292 non-null    float64
 42  prinForgivBal               2 non-null       float64
 43  repurchMakeWholeProceedFlg  119696 non-null  int64
 44  forecloPrinWriteOffAmnt     1 non-null       float64
 45  servActivIndicator          0 non-null       float64
 46  deliqGood                   119696 non-null  int64
 47  deliqBad                    119696 non-null  int64
 48  deliqMax                    119696 non-null  float64
 49  fmacRateMax                 119696 non-null  float64
 50  fmacRateMin                 119696 non-null  float64
 51  fmacRateAvg                 119696 non-null  float64
 52  fmacRateVolatility          119696 non-null  float64
 53  fredRate                    119696 non-null  float64
 54  rateDiffAbove               119696 non-null  float64
 55  rateDiffBelow               119696 non-null  float64
 56  rateDiffAvg                 119696 non-null  float64
 57  rateDiffAbovePct            119696 non-null  float64
 58  rateDiffBelowPct            119696 non-null  float64
 59  rateDiffAvgPct              119696 non-null  float64
dtypes: float64(39), int64(14), object(7)
memory usage: 54.8+ MB

## Remove columns not involved in 'Foreclosure or Not' query

In [28]:
df.drop(['Unnamed: 0','Unnamed: 0.1','id','firstPmtDate','rptPeriod','currIntRate','currUPB','loanAge','monMatur',\
         'zeroBalDate','lastPdInstDate','forecloDate','dispDate','forecloCost','propRepCost','recovCosts',\
         'miscCost','holdTaxCost','saleProceed','credEnhProceed','repurchProceed','otherForecloProceed',\
         'nonIntUPB','prinForgivBal','repurchMakeWholeProceedFlg','forecloPrinWriteOffAmnt','servActivIndicator',\
         'deliqGood','deliqBad','deliqMax'],1,inplace=True)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119696 entries, 0 to 119695
Data columns (total 30 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   origChannel         119696 non-null  int64
 1   origIntRate         119696 non-null  float64
 2   origUPB             119696 non-null  int64
 3   origDate            119696 non-null  object
 4   origLTV             119696 non-null  float64
 5   numBorrowers        119696 non-null  float64
 6   origDebtIncRatio    119696 non-null  float64
 7   borrCreditScore     119696 non-null  float64
 8   loanPurp            119696 non-null  int64
 9   zipCode             119696 non-null  int64
 10  pMIperct            119696 non-null  float64
 11  mortInsType         119696 non-null  float64
 12  bestCreditScore     119696 non-null  float64
 13  worstCreditScore    119696 non-null  float64
 14  avgCreditScore      119696 non-null  float64
 15  bankNumber          119696 non-null  int64
 16  stateNumber         119696 non-null  int64
 17  mSA                 119696 non-null  int64
 18  zeroBalCode         119696 non-null  float64
 19  fmacRateMax         119696 non-null  float64
 20  fmacRateMin         119696 non-null  float64
 21  fmacRateAvg         119696 non-null  float64
 22  fmacRateVolatility  119696 non-null  float64
 23  fredRate            119696 non-null  float64
 24  rateDiffAbove       119696 non-null  float64
 25  rateDiffBelow       119696 non-null  float64
 26  rateDiffAvg         119696 non-null  float64
 27  rateDiffAbovePct    119696 non-null  float64
 28  rateDiffBelowPct    119696 non-null  float64
 29  rateDiffAvgPct      119696 non-null  float64
dtypes: float64(22), int64(7), object(1)
memory usage: 27.4+ MB

## Engineer originDate into Date features

In [30]:
df['origDate'] = pd.to_datetime(df['origDate'])

In [31]:
df['origYear'] = df['origDate'].dt.year
df['origMonth'] = df['origDate'].dt.month

In [32]:
df.drop(['origDate'],1,inplace=True)

In [33]:
df[['origYear','origMonth']].head()

   origYear  origMonth
0      2009          2
1      2009          2
2      2009          2
3      2009          2
4      2009          2

# Turn zero Balance Code Into binary "0" GOOD and "1" BAD

In [34]:
df.zeroBalCode.unique()

array([ 9.,  1.,  3., 16.,  6.,  2., 15.])

In [35]:
df['zeroBalCode'] = df.zeroBalCode.replace(1,0)
df['zeroBalCode'] = df.zeroBalCode.replace([9,3,16,6,2,15],1)

In [36]:
df.zeroBalCode.unique()

array([1., 0.])

In [37]:
#Checking datatypes of individual feature
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119696 entries, 0 to 119695
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   origChannel         119696 non-null  int64
 1   origIntRate         119696 non-null  float64
 2   origUPB             119696 non-null  int64
 3   origLTV             119696 non-null  float64
 4   numBorrowers        119696 non-null  float64
 5   origDebtIncRatio    119696 non-null  float64
 6   borrCreditScore     119696 non-null  float64
 7   loanPurp            119696 non-null  int64
 8   zipCode             119696 non-null  int64
 9   pMIperct            119696 non-null  float64
 10  mortInsType         119696 non-null  float64
 11  bestCreditScore     119696 non-null  float64
 12  worstCreditScore    119696 non-null  float64
 13  avgCreditScore      119696 non-null  float64
 14  bankNumber          119696 non-null  int64
 15  stateNumber         119696 non-null  int64
 16  mSA                 119696 non-null  int64
 17  zeroBalCode         119696 non-null  float64
 18  fmacRateMax         119696 non-null  float64
 19  fmacRateMin         119696 non-null  float64
 20  fmacRateAvg         119696 non-null  float64
 21  fmacRateVolatility  119696 non-null  float64
 22  fredRate            119696 non-null  float64
 23  rateDiffAbove       119696 non-null  float64
 24  rateDiffBelow       119696 non-null  float64
 25  rateDiffAvg         119696 non-null  float64
 26  rateDiffAbovePct    119696 non-null  float64
 27  rateDiffBelowPct    119696 non-null  float64
 28  rateDiffAvgPct      119696 non-null  float64
 29  origYear            119696 non-null  int64
 30  origMonth           119696 non-null  int64
dtypes: float64(22), int64(9)
memory usage: 28.3 MB

# Review values for dates and slice (if needed) the timeframe you want

In [38]:
df.origYear.unique()

array([2009, 2010, 2011, 2012, 2013], dtype=int64)

In [39]:
df['origMonth'].unique()

array([ 2,  3,  5,  4,  6,  7,  8,  9, 10, 11, 12,  1], dtype=int64)

# Coerce the column dtype (int in this case)

In [40]:
df = df.astype({'origLTV':'int','numBorrowers':'int','origDebtIncRatio':'int',\
               'borrCreditScore':'int','mortInsType':'int','bestCreditScore':'int',\
               'worstCreditScore':'int','avgCreditScore':'int'})
#,'zeroBalCode':'int'

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119696 entries, 0 to 119695
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   origChannel         119696 non-null  int64
 1   origIntRate         119696 non-null  float64
 2   origUPB             119696 non-null  int64
 3   origLTV             119696 non-null  int32
 4   numBorrowers        119696 non-null  int32
 5   origDebtIncRatio    119696 non-null  int32
 6   borrCreditScore     119696 non-null  int32
 7   loanPurp            119696 non-null  int64
 8   zipCode             119696 non-null  int64
 9   pMIperct            119696 non-null  float64
 10  mortInsType         119696 non-null  int32
 11  bestCreditScore     119696 non-null  int32
 12  worstCreditScore    119696 non-null  int32
 13  avgCreditScore      119696 non-null  int32
 14  bankNumber          119696 non-null  int64
 15  stateNumber         119696 non-null  int64
 16  mSA                 119696 non-null  int64
 17  zeroBalCode         119696 non-null  int32
 18  fmacRateMax         119696 non-null  float64
 19  fmacRateMin         119696 non-null  float64
 20  fmacRateAvg         119696 non-null  float64
 21  fmacRateVolatility  119696 non-null  float64
 22  fredRate            119696 non-null  float64
 23  rateDiffAbove       119696 non-null  float64
 24  rateDiffBelow       119696 non-null  float64
 25  rateDiffAvg         119696 non-null  float64
 26  rateDiffAbovePct    119696 non-null  float64
 27  rateDiffBelowPct    119696 non-null  float64
 28  rateDiffAvgPct      119696 non-null  float64
 29  origYear            119696 non-null  int64
 30  origMonth           119696 non-null  int64
dtypes: float64(13), int32(9), int64(9)
memory usage: 24.2 MB

In [42]:
#df.to_csv('D:\FM_FULL_EPOCH2_MLReady.csv')

# Review metrics last time before run (to have record of starting values)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119696 entries, 0 to 119695
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   origChannel         119696 non-null  int64
 1   origIntRate         119696 non-null  float64
 2   origUPB             119696 non-null  int64
 3   origLTV             119696 non-null  int32
 4   numBorrowers        119696 non-null  int32
 5   origDebtIncRatio    119696 non-null  int32
 6   borrCreditScore     119696 non-null  int32
 7   loanPurp            119696 non-null  int64
 8   zipCode             119696 non-null  int64
 9   pMIperct            119696 non-null  float64
 10  mortInsType         119696 non-null  int32
 11  bestCreditScore     119696 non-null  int32
 12  worstCreditScore    119696 non-null  int32
 13  avgCreditScore      119696 non-null  int32
 14  bankNumber          119696 non-null  int64
 15  stateNumber         119696 non-null  int64
 16  mSA                 119696 non-null  int64
 17  zeroBalCode         119696 non-null  int32
 18  fmacRateMax         119696 non-null  float64
 19  fmacRateMin         119696 non-null  float64
 20  fmacRateAvg         119696 non-null  float64
 21  fmacRateVolatility  119696 non-null  float64
 22  fredRate            119696 non-null  float64
 23  rateDiffAbove       119696 non-null  float64
 24  rateDiffBelow       119696 non-null  float64
 25  rateDiffAvg         119696 non-null  float64
 26  rateDiffAbovePct    119696 non-null  float64
 27  rateDiffBelowPct    119696 non-null  float64
 28  rateDiffAvgPct      119696 non-null  float64
 29  origYear            119696 non-null  int64
 30  origMonth           119696 non-null  int64
dtypes: float64(13), int32(9), int64(9)
memory usage: 24.2 MB

In [44]:
df.head()

,origChannel,origIntRate,origUPB,origLTV,numBorrowers,origDebtIncRatio,borrCreditScore,loanPurp,zipCode,pMIperct,...,fmacRateVolatility,fredRate,rateDiffAbove,rateDiffBelow,rateDiffAvg,rateDiffAbovePct,rateDiffBelowPct,rateDiffAvgPct,origYear,origMonth
0,2,5.125,348000,87,1,50,689,2,51,25.0,...,0.041667,2.87,-0.125,-0.085,-0.005,-0.023810,-0.016865,-0.000975,2009,2
1,3,4.625,195000,52,2,54,703,1,82,0.0,...,0.041667,2.87,-0.625,0.415,-0.505,-0.119048,0.082341,-0.098441,2009,2
2,2,4.875,342000,80,1,54,746,1,981,0.0,...,0.041667,2.87,-0.375,0.165,-0.255,-0.071429,0.032738,-0.049708,2009,2
3,1,5.375,93000,70,1,50,780,1,496,0.0,...,0.041667,2.87,0.125,-0.335,0.245,0.023810,-0.066468,0.047758,2009,2
4,1,4.875,182000,76,2,22,802,1,18,0.0,...,0.041667,2.87,-0.375,0.165,-0.255,-0.071429,0.032738,-0.049708,2009,2

# Pycaret - Setup with categorical definition

### Use feature engineering, polynomial features, trig feats, PCA

In [45]:
# models=setup(df, target = 'rateDiffPct',
#              feature_interaction=True, feature_ratio=True,
#              polynomial_features=True, pca=True, pca_components=10,
#             numeric_features = ['origUPB','origLTV','numBorrowers','origDebtIncRatio',\
#                                'avgCreditScore'],
#             ignore_features = ['origIntRate','rank','deal'])

### Use feature engineering, polynomial features, trig feats

In [46]:
models=setup(df, target = 'zeroBalCode')

Setup Succesfully Completed!

## Compare Models with blacklist exclusions

In [47]:
model_results=compare_models(blacklist = ['tr','ransac']) #,'lar','par','huber','llar','lasso','en','ridge','omp','br','svm'])
model_results

SystemExit: (Value Error): Estimator Not Available. Please see docstring for list of available estimators.

## Create models - store in variable

In [ ]:
catboost =create_model('catboost', fold = 10)

In [ ]:
catboost =create_model('catboost', fold = 50)

### Catboost fold results (not shown - reran in same cell)
* 10   0.5?
* 20   0.5633
* 50   0.5633

In [ ]:
lightgbm = create_model('lightgbm', fold=50)

### LightGBM fold results (not shown - reran in same cell)
    * 10   0.5?
    * 20   0.5?
    * 50   0.5585

In [ ]:
xgboost = create_model('xgboost', fold = 50)

## Tune Models

In [ ]:
tuned_catboost = tune_model('catboost') # from fold=50

* Made no difference creating the model with fold= 10 vs. fold = 50 so use fold = 10

In [ ]:
tuned_lightgbm = tune_model('lightgbm')

In [ ]:
tuned_xgboost = tune_model('xgboost')

## Ensemble models

In [ ]:
catboost_bagged = ensemble_model(catboost)

In [ ]:
catboost_boosted = ensemble_model(catboost)

## Blend 3 chosen Models

#### First blend 'non-tuned' models

In [ ]:
blend3 = blend_models(estimator_list = [catboost, lightgbm, xgboost])

#### Next blend tuned models

In [ ]:
blendTuned3 = blend_models(estimator_list = [tuned_catboost, tuned_lightgbm, tuned_xgboost])

## Evaluate Models

In [ ]:
plot_model(lightgbm, plot = 'residuals')

In [ ]:
plot_model(lightgbm, plot = 'error')

In [ ]:
plot_model(lightgbm, plot='vc')

In [ ]:
plot_model(lightgbm, plot = 'feature')

In [ ]:
interpret_model(lightgbm, plot='correlation', feature='avgCreditScore')

In [ ]:
interpret_model(tuned_catboost)

In [ ]:
save_model()

In [ ]:
interpret_model(estimator=logreg_model, plot='reason')

In [ ]:
logreg_model2=create_model('xgboost')

In [ ]:
plot_model(estimator=logreg_model2, plot='feature')

In [ ]:
plot_model(estimator=logreg_model2)

In [ ]:
tunned_logreg_model=tune_model('catboost')

In [ ]:
interpret_model(estimator=tunned_logreg_model,plot='summary')

In [ ]:
plot_model(estimator=tunned_logreg_model,plot='feature')

In [ ]:
interpret_model(estimator=catboost, plot='correlation')

In [ ]:
interpret_model(estimator=catboost,plot='summary')